@import url('http://fonts.googleapis.com/css2?family=nunito:wght@200;300;400;600@display=swap');

:root{
    --yellow:#f9ca24;
}
*{
    font-family:'nunito',sans-serif;
    margin:0; padding:0;
    box-sizing:border-box;
    text-decoration:none;
    outline:none; border:none;
    text-transform:capitalize;
    transition:all .2s linear;
}
*::selection{
    background:var(--yellow);
    color:#333;
}
html{
    font-size: 62.5%;
    overflow-x:hidden;
}
html::-webkit-scrollbar{
    width: 1.4rem;
}
html::-webkit-scrollbar-track{
    background-color:#222;
}
html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}
body{
    background:#111;
    overflow-x:hidden;
    padding-left:35 rem;
}
section{
    min-height:100vh;
    padding:1 rem;
}
.btn{
    padding: 7rem 3 rem;
    background:#333;
    color:#fff;
    cursor:pointer;
    margin-top: 1 rem;
    font-size:2 rem;
    border-radius: 5 rem;
}
.btn i{
    padding:0.5 rem;
    font-size:1.8rem;
}
.btn:hover{
    background:var(--yellow);
}
header{
    position:fixed;
    top:0; left:0;
    z-index:1000;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
header .user img{
    height:17rem;
    width:17rem;
    border-radius:50%;
    object-fit: cover;
    margin-bottom: 10rem;
    border: 1rem solid var(--yellow);
}
header .user .name{
    font-size: 6rem;
    color:#f9ca24;
}
header .user .post{
    font-size: 3rem;
    color:#fff;
}
header .navbar{
    width: 128%;
    height:600px;
    padding:50px;
    border-radius: 25 px;
}
header .navbar ul{
    list-style:none;
    padding:1 rem 3 rem;
}
header .navbar ul li a{
    display: block;
    padding: 1 rem;
    margin:1.5 rem 0;
    background: #333;
    color:#fff;
    font-size:6 rem ;
    
}
#menu{
    position: fixed;
    top:2 rem; right:2 rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5 rem;
    padding: 1 rem 1.5 rem;
    z-index: 1000;
    display: none;
}
@media(max-width:1200px){
    html{
        font-size:55%;
    }
    .home{
        padding:1 rem 4 rem;
    }
}
@media(max-width:400px){
    header{
        width:100vw;
    }
    #menu{
    display: block;
    }
    header.toggle{
        left:0%;
    }
    body{
        padding:0;
    }
}
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}
.home h3{
    font-size:2.5rem;
    color:#fff;
}
.home h1{
    font-size:5rem;
    color:#fff;
}
.home h1 span{
    color:var(--yellow);
}
.home p{
    font-size:2rem;
    color:#eee;
    padding:1 rem 0;
}
.skills{
    width:100%;
    max-width:600px;
    padding:0 20px;
}
.skill-name{
    font-size:18px;
    font-weight:700;
    color:white;
    text-transform:uppercase;
    margin:20px 0;
}
.skill-bar{
    height:14px;
    background:#282828;
    border-radius:3px;
}
.skill-per{
    height:14px;
    background:#f9ca24;
    border-radius:3px;
    position:relative;
    animation:fillBars 2.5s 1;
}
.skill-per::beofore{
    content:attr(per);
    position:absolute;
    padding:4px 6px;
    background:#f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top:-35px;
    right:0;
    transform:translatex(50);
}
.skill-per::after{
    content:"";
    position:absolute;
    width:10px;
    height:10px;
    background:#f1f1f1;
    top:-20px;
    right: 0;
    transform:translatex(-50%) rorate(45deg);
    border-radius:2px;
}
@keyframes fillBars{
    from{
        width:0;
    }
    to{
        width:100%;
    }
}
.container{
    width:50%;
    margin:0 auto;
    padding:20px;
    background-color:#1a1a1a;
    border:1pc solid #ccc;
    border-radius:50px;
    box-shadow:0 0 10px rgba(0,0,0.1);
}
footer{
    background-color:#333;
    color:#111;
    text-align:center;
}
footer p{
    background-color:#f9ca24;
    color:#fff;
    text-align:center;
    padding:10px 0;
}
